/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Helvetica;
}


/** HEADER **/
#header-nav {
  background-color:gray;
  border-radius: 0;
  border: 0;
  height:75px;
  
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { 
  color: black;
  font-size: 1em;
  font-weight: bold; 
  line-height: .75;
  text-align: left;
}



#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ff6961;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -43px;
}
/* END HEADER */


.content {
    height:100%;
    font-family: Helvetica;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

section {
  border: 1px;  
  background-color: gray;
  width: 100%;
  height: auto;
  font-size: 1em;
 
}

.info {
    width: 100%;
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    background-color: gray;
    color: black;
    padding: 10px;
}

#chicken {  
    font-weight: bold;
    font-size: 1.5em;
    height: 23px;
    text-align: center;   
}

#beef {
    font-weight: bold;
    font-size: 1.5em;
    height: 23px;
    text-align: center;   
}

#sushi {
    font-weight: bold;
    font-size: 1.5em;
    height: 23px;
    text-align: center;
}


h1 {
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */





